body {
    background-color: #f1f1f1;
}

#container {   
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#box {
    width: 405px;
    /* height: 154px; */
    height: auto;
    border-radius: 30px;
    box-shadow: 1px 1px 6px 5px #e0e0e0;
}

#title {
    margin-left: 22.06px;
    margin-top: 25px;
    width: 101.26px;
    height: 24px;
    font-size: 1em;
    font-weight: bold;
    word-spacing: -3px;
}

#m-box {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #DCDCDC;
    width: 359.24px;
    height: 34px;
    margin-left: 23.88px;
    margin-top: 20px;
    margin-bottom: 5px;
    background-color: #f1f1f1;
}

#button button {
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.s-box {
    width: 359.24px;
    height: auto;
    margin-left: 23.88px;
}

.divItem {
    display: flex;
    border-bottom: 1px solid #DCDCDC;
    margin-bottom: 10px;
    padding: 6px;
    padding-top: 15px ;
}

.divItem:hover {
    background-color: #cbcbcb;
}

#input {
    width: 85%;
    height: 90%;
    border: none;
    background-color: #f1f1f1;
}

#button {
    cursor: pointer;
    margin-left: 10px;
    font-size: 30px;    
}

#button:hover {
    transform: scale(1.2,1.2);
}

.print {
    margin-right: auto;
    word-break: break-all;
}

.reviseBox {
    cursor: pointer;
    background-color: none;
    border: none;
    font-size: 15px;
    margin: 5px;
}

.reviseBox:hover {
    transform: scale(1.2,1.2);
}

.deleteBox {
    cursor: pointer;
    background-color: none;
    border: none;
    font-size: 15px;
    margin: 5px;
}

.deleteBox:hover {
    transform: scale(1.2,1.2);
}

.check-box {
    cursor: pointer;
}

.reSpan {
    width: 100%
}

.finBtn {
    cursor: pointer;
    margin-left:5px;
    margin-right: 5px;
    background-color: transparent;
    border: none;
}