<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/js/home/todolist.js" defer></script>
    <script src="https://kit.fontawesome.com/cae32bcbb4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/home/todolist.css">
</head>
<body>
    <h2>ToDoList</h2>
    <div id="container">
        <div id="box">
            <div id="title">To Do List</div>
            <div id="m-box">
                <input id="input" placeholder="입력">
                <p id="button">+</p>
            </div>
            <div class="s-box">
            </div>
        </div>
    </div>
</body>
</html>